<nav class="navbar navbar-expand-lg bg-light fixed-top shadow-sm ">
      <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt="" height="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/contact">Contact</a>
          </li>
          
        </ul>
        
        <%= form_with url: "/home/search",class:"d-flex",local: true, method: :post do |form| %>
          <%= form.text_field :keyword ,class:"form-control me-2" ,placeholder:"Search" %>
          <%= form.submit "Search" ,class:"btn btn-outline-success"%>
        <% end %>
       



        <% if student_signed_in? %>
          <div class="dropdown text-end avatar1" >
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_student.avatar_image, class:"rounded-circle wh"%>
            </a>
            <ul class="dropdown-menu text-small" style="">
              <li><a class="dropdown-item avatar1-text" href="/student/dashboard">Profile</a></li>
              <li><a class="dropdown-item avatar1-text" href="/students/edit">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Logout", destroy_student_session_path, method: :delete, :class => 'dropdown-item avatar1-text'  %></li>
              
            </ul>
          </div>
        <% else %>
          <div class="dropdown text-end avatar1">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/Avatar1.png" alt="mdo" width="45" height="45" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" style="">
              <li><a class="dropdown-item avatar1-text" href="/students/sign_up">Sign Up</a></li>
              <li><a class="dropdown-item avatar1-text" href="/students/sign_in">Login</a></li>
            </ul>
          </div>
        <% end %>


        
        
      </div>
      </div>
    </nav>